{% extends 'base.html.twig' %}

{% block title %}OVERKILL - New letter{% endblock %}

{% block body %}
<div class="container">
    <h4 class="text-center mb-4">Remplis le formulaire pour générer ta lettre de motivation</h4>
</div>

{{ include('letter/_form.html.twig') }}
{% endblock %}
