{% extends 'base.html.twig' %}

{% block title %}OVERKILL - Your letter{% endblock %}

{% block body %}
<h1>Ta lettre de motivation a bien été créée !</h1>

{{ include('letter/_letter.html.twig') }}
{% endblock %}