{% extends 'base.html.twig' %}

{% block title %}OVERKILL - Your letter{% endblock %}

{% block body %}

<h1>Le fichier est prêt !</h1>
<h2>Clique sur le bouton pour le télécharger</h2>
{# call the road that download the letter in pdf #}
<button><a href="{{ path('letter_download', {id: letter.id}) }}" target="_blank">Télécharger</a></button>

{# the letter as we want it to be downloaded (whitout header footer etc..) #}
{{ include('letter/letter.html.twig') }}

{% endblock %}